/* Modal container */

/* .modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
} */


/* Modal content */

/* .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 80%;
    min-width: 300px;
    height: 80%;
} */

/* Close button */

/* .close-button {
    position: absolute;
    top: 1rem;
    right: 120px;
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: #fff;
    z-index: 1000;
} */